# Logs
logs
*.log
pnpm-debug.log*
.turbo

# Development
node_modules
dist
dist-ssr
*.local
server/dist
public/dist
.cache
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
